.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addButton {
  padding: 10px 24px;
  background-color: #09f;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
}
.addButton:hover {
  background-color: rgb(0, 109, 181);
}

.table {
  height: 100px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 13px;
}

.table td {
  padding: 8px 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.089);
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  border-left: 1px solid rgba(255, 255, 255, 0.04);
  border-right: 1px solid rgba(0, 0, 0, 0.231);
  border-top: 1px solid rgba(113, 113, 113, 0.026);
  white-space: nowrap;
}

.table thead tr {
  height: 30px;
  white-space: nowrap;
}

.tours {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
.toursImage {
  border-radius: 5px;
  object-fit: cover;
}
.title {
  font-weight: 600;
  display: flex;
  justify-content: center;
  text-wrap: balance;
  width: 150px;
}

.table tr {
  height: 50px;
}
.buttons {
  display: flex;
  gap: 10px;
}
.price {
  white-space: nowrap;
}
.duration {
  white-space: nowrap;
}
.hidden {
  display: flex;
  justify-content: flex-start;
  width: 200px;
  height: 50px;
  white-space: nowrap;
  text-wrap: pretty;
  overflow: hidden;
  text-overflow: ellipsis;
}

.textdescription {
  overflow: hidden;
  text-overflow: ellipsis;
}
.button {
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--text);
  border: none;
  cursor: pointer;
}

.view {
  background-color: #09f;
  display: flex;
  padding: 5px 10px;
}
/* .view:hover {
  background-color: rgba(0, 153, 255, 0.709);
} */
.ripple {
  background-position: center;
  transition: background 0.3s;
}
.ripple:hover {
  background-color: #09f;
  background-image: radial-gradient(
    circle,
    transparent 1%,
    rgb(80, 183, 251) 1%
  );
  background-position: center;
  background-size: 15000%;
}
.ripple:active {
  transition: background 0s;
  background-color: rgb(0, 113, 189);
  background-size: 100%;
}
.delete {
  background-color: #dc143c;
  display: flex;
  padding: 5px 10px;
}
.delete:hover {
  background-color: rgba(220, 20, 60, 0.709);
}
.table thead tr td {
  font-size: 13px;
  font-weight: 500;
  color: var(--textSoft);
}
