.container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #09f;
  color: white;
  font-family: inherit;
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: rgba(0, 153, 255, 0.709);
}

.button:disabled {
  background-color: #6b6b6b;
  color: #8e8e8e;
  cursor: not-allowed;
}
