:root {
  --bg: rgb(9, 20, 36);
  --bgSoft: rgb(12, 27, 51);
  --text: rgb(230, 230, 230);
  --textSoft: rgb(130, 134, 142);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}
