.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  cursor: pointer;
  width: 100%;
}

.container:hover {
  background-color: rgba(22, 45, 82, 0.62);
}

.text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.number {
  font-size: 24px;
  font-weight: 700;
}
.detail {
  font-size: 13px;
  font-weight: 300;
}
.positive {
  color: lime;
}
.negative {
  color: red;
}
